.about-us
{
    display: flex;
    min-height: 720px;
    overflow: hidden;
}

.about-us .about-image
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-white;
    position: relative;
}

.about-us .about-image div 
{
    padding: 32px 64px;
    flex: 1;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-us .about-image .about-image-sushi3
{
    border: 8px solid $color-creamson;
    background-image: url("../../img/about_bg1.png");
}

.about-us .about-image .about-image-sushi2
{
    background-image: url("../../img/about_bg2.png");
}

.about-us .about-image .about-image-sushi-3 img 
{
    width: 225px;
    height: 200px;
}

.about-us .about-image .about-image-sushi-2 img 
{
    width: 240px;
    height: 160px;
}

.about-button
{
    position: absolute;
    right: 0;
    padding: 12px 32px;
    min-height: 64px;
    background-color: $secondary-color;
    border-radius: 32px 0 0 32px;
    border: 0;
    outline: 0;
    color: #fff;
    font-family: $plus-jakarta-sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
}

.about-button img 
{
    margin-left: 16px;
}

.about-us .about-content
{
    padding: 64px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}