@media screen and (max-width: 1060px) 
{
   .hero 
   {
      flex-direction: column;
   }

   .hero-image img 
   {
      width: 100%;
      transform: matrix(1, 0.05, 0, 1.25, 0, 0) !important;
   }
}
 

@media screen and (max-width: 750px) 
{
   .hero-image h2 
   {
      font-size: 70px;
      line-height: 90px;
   }
}
  
@media screen and (max-width: 550px) 
{
   .hero-image h2 
   {
      font-size: 40px;
      line-height: 60px;
   }
  
   .hero-content .info 
   {
      padding: 32px;
   }

   .hero-content .info h1 
   {
      font-size: 40px;
   }

   .hero-content .info p 
   {
      margin: 32px 0;
      font-size: 14px;
      text-align: center;
   }

   .hero-content .buttons 
   {
      margin-top: 41px;
      margin-bottom: 41px;
      text-align: center;
   }

   .hero-content .buttons .order-button
   {
      padding: 17px;
      min-width: 200px;
   }

   .hero-content .testimonial 
   {
      padding: 32px;
   }
}