@media screen and (max-width: 1024px) 
{
   .trending-sushi 
   {
      flex-direction: column;
   }

   .trending-drinks
   {
      flex-direction: column-reverse;
   }

   .trending-image 
   {
      width: 100%;
      background-size: cover;
   }

   .discover 
   {
      display: none;
   }

   .arrow 
   { 
      display: none;
   }
}
  

@media screen and (max-width: 550px) 
{
   .trending-image img 
   {
      width: 70%;
      height: 70%;
   }

   .trending-content 
   {
      padding: 32px;
   }

   .trending-content .sushi-title
   {
      font-size: 36px;
   }

   .trending-content .sushi-description
   {
      font-size: 16px;
      text-align: center;
      line-height: 30px;
      margin: 20px 0px 50px 0px;
   }
}